/******start default theem *******/

/*--Start option box --*/
.option-box .color-box{border:3px solid chartreuse;}

.gear-check{color:chartreuse} 
/*--End option box --*/


/*--Start navbar --*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {color: chartreuse;}

.navbar-brand span {color:chartreuse;}

.dropdown-menu {border-top:3px solid chartreuse;}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:chartreuse;}

.dropdown-menu .divider {background-color:chartreuse;}
/*--end navbar --*/


/*--Start carousel --*/
.carousel-indicators .active {background-color:chartreuse}
/*---carousel--*/


/*--------------------Start section About----------*/
.about strong{color:chartreuse}


/*------------------Start section testimonials----------*/
.testimonials .carousel-inner .item span{color:chartreuse;}

.testimonials .carousel-indicators li.active{border:3px solid chartreuse}
/*------------------End section testimonials----------*/


/*---------------Start section price Table------------*/
.price_table .price_box:hover p{border:2px solid chartreuse}


/*------------Start section contact-us--------------*/
.contact-us .contact i:hover{color:chartreuse}

.contact-us input[type="text"],.contact-us textarea{border: 1px solid chartreuse;}

.contact-us input[type="text"]:hover,.contact-us textarea:hover{background-color:chartreuse;border: 1px solid #46b8da;}
   /*------------End section contact-us--------------*/

.footer h2{color: chartreuse}
.footer .copyright span{color:chartreuse}
















