/******start default theem *******/

/*--Start option box --*/
.option-box .color-box{border:3px solid #fb08c0;}

.gear-check{color:#fb08c0} 
/*--End option box --*/


/*--Start navbar --*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {color: #fb08c0;}

.navbar-brand span {color:#fb08c0;}

.dropdown-menu {border-top:3px solid #fb08c0;}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#fb08c0;}

.dropdown-menu .divider {background-color:#fb08c0;}
/*--end navbar --*/


/*--Start carousel --*/
.carousel-indicators .active {background-color:#fb08c0}
/*---carousel--*/


/*--------------------Start section About----------*/
.about strong{color:#fb08c0}


/*------------------Start section testimonials----------*/
.testimonials .carousel-inner .item span{color:#fb08c0;}

.testimonials .carousel-indicators li.active{border:3px solid #fb08c0}
/*------------------End section testimonials----------*/


/*---------------Start section price Table------------*/
.price_table .price_box:hover p{border:2px solid #fb08c0}


/*------------Start section contact-us--------------*/
.contact-us .contact i:hover{color:#fb08c0}

.contact-us input[type="text"],.contact-us textarea{border: 1px solid #fb08c0;}

.contact-us input[type="text"]:hover,.contact-us textarea:hover{background-color:#fb08c0;border: 1px solid #46b8da;}
   /*------------End section contact-us--------------*/

.footer h2{color: #fb08c0}
.footer .copyright span{color:#fb08c0}
















